@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText" style="background-color:#1c5858">
        <h1 class="display-4 text-capitalize fw-bold" style="color:#f69000">Razor Sharp Pizza's Here!</h1>
        <h2 class="subTitleStyle">Hey mate, are you hungry? Then come ahead and eat some nicely cooked pizza!</h2>
    </div>

    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="text-dark btn btn-primary mt-1" asp-area="" asp-page="Pizza">PIZZA, PRETTY PLEASE!</a>



</div>
