@page
@model RazorPizzaDelivery.Pages.PizzaModel
@{
}

<a class="mb-5 mt-3 btn btn-primary text-dark" asp-area="" asp-page="Forms/CustomPizza">Custom Pizza</a>

@foreach (var pizza in Model.fakePizzaDB)
{
    var imagePath = "~/images/Pizzas/" + (pizza.ImageTitle + ".png");
    <div class="col-4 mb-5">
        <img src="@imagePath" class="w-100" , asp-append-version="true" />
        <a class="btn btn-primary mt-1" asp-area="" asp-page="Checkout/Checkout"
        asp-route-ImageTitle="@pizza.ImageTitle"
        asp-route-PizzaPrice="@pizza.FinalPrice"
        asp-route-PizzaName="@pizza.PizzaName">
            Buy One
        </a>
        <br />
    </div>
}
